<!Doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.4.0/echarts.common.js"></script>
    </head>
    <body>
	<title>51job spider</title>
        <form> 
        查询地区的工作领域分布:
            <input type="text" id="txt_1" onkeyup="getCityCode(this, 'submit_dist')" placeholder="请键入区域名" />
            <button type="button" id="submit_dist" onclick="launchSpider(this)">提交查询</button>
        </form>
        <form>
        查询地区的某工作关键字:
            <input type="text" id="txt_21" onkeyup="getCityCode(this, 'submit_tags')" placeholder="请键入区域名" />
            <input type="text" id="txt_22" onkeyup="fillData(this)" placeholder="请键入工作关键字" />
            <button type="button" id="submit_tags" onclick="launchSpider(this)" data-arg="jobarea">提交查询</button>
        </form>


	<div id="display" style="width: 1000px;height:800px;"></div>
    <script>
        function waitingResults(XMLReq) {
            $("#display").append("<div id='loading'><img src='{{ static_url('loading.gif') }}' /><div>");
        }
    </script>
	<script type="text/javascript" src="{{ static_url('index.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('echarts-wordcloud.min.js') }}"></script>

    </body>
</html>
